/* CSS Reset */
*{
    margin:0;
    padding:0;
}
/* Navigation Bar */
.navbar{
    display: flex;
    align-items: center;
    position: relative;
    top: 0px;
}
/* Navigation Bar: Logo and Image */
.logo{
    margin: 5px 5px;
}
.logo img{
    height:50px;
    margin: 6px 10px;
}
/* Navigation Bar Styling */

.navbar ul{
    display:flex;
    font-family: 'Baloo Bhaijaan 2',cursive;
}
.navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.4;
    top: 0px;
    left: 0px;
}

.navbar ul li{
    list-style:none;
    font-size:1.3rem;
}
.navbar ul li a{
    color: white;
    display: block;
    text-decoration: none;
    padding:4px 20px;
    border-radius: 15px;
}
.navbar ul li a:hover{
    color:black;
  background-color: white;
}
/* Home Section */
.home{
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    justify-content: center;
    align-items: center;
    height: 500px;
}
.home::before{
    content: "";
    position: absolute;
    background: url('img/bg.jpg')no-repeat center center/cover;
    height:84%;
    width: 100%;
    z-index: -1;
    opacity:0.9; 
    top: 0px;
    left: 0px;
}
/* Utility Heading */
.home h1{
    color: white;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
.home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
.services{
    margin: 25px;
    display: flex;
}
.services .box{
border: 2px solid #bd2f2f;
padding:25px;
margin: 10px;
border-radius: 25px;
background-color:#f6f0f0;;
}
.services .box img{
    height: 140px;
    width: 140px;
    margin:auto;
    display: block;
}
.services .box p{
    font-family: 'Bree Serif', serif;
}
/* Client Section */
.client-section{
    height: 340px;
    position: relative;
}
.client-section::before{
    content:"";
    position: absolute;
    background: url('img/back.jpg')no-repeat center center/cover;;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.4;
}
.client{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 10px;
}
.client img{
height: 120px;
}
/* Contact Section  */
.contact{
    position: relative;
}
.contact::before{
    content:"";
    position: absolute;
    background: url('img/contactus.jpg')no-repeat center center/cover  ;
    height:100%;
    width:100%;
    z-index:-1;
    opacity:0.5;
}
.contact-box{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-bottom:34px;
}
.contact-box input,
.contact-box textarea{
     width: 100%;
     padding: 0.5rem;
     border-radius: 10px;
}
.contact-box form{
    width: 40%;
}
.contact-box label{
    font-size: 1.2rem;
    font-family: 'Bree Serif', serif;
}
footer{
    background: black;
    color: white;
    padding:10px 20px;
}
/* Utility Class */
.h-primary{
    font-size:3.5rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;
}
.btn{
    padding:6px 20px;
    border:2px solid white;
    background-color: rgb(226, 49, 49);
    color: white;
    margin: 18px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 15px;
    font-family: 'Bree Serif', serif;
}



